#pauseMenuPane {
    -fx-max-height: 800px;
    -fx-max-width: 400px;
    -fx-min-height: 800px;
    -fx-min-width: 400px;
}

#gameNameLabel {
    -fx-font: bold 300px "Lateef";
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-translate-x: 50px;
    -fx-translate-y: 25px;
}

Button {
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-font: bold 20px "Lateef";
}

#player1ShootKeyLabel, #player2ShootKeyLabel, #freezeKeyLabel {
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font: bold 20px "Lateef";
}

#player2ShootKeyLabel {
    -fx-translate-y: 25px;
}

#freezeKeyLabel {
    -fx-translate-y: 50px;
}

#restartButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 735px;
}

#exitButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 675px;
}

#muteButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 615px;
}

#music3Button {
    -fx-translate-x: 125px;
    -fx-translate-y: 555px;
}

#music2Button {
    -fx-translate-x: 125px;
    -fx-translate-y: 495px;
}

#music1Button {
    -fx-translate-x: 125px;
    -fx-translate-y: 435px;
}