#endGamePane {
    -fx-max-height: 800px;
    -fx-max-width: 400px;
    -fx-min-height: 800px;
    -fx-min-width: 400px;
}

#gameNameLabel {
    -fx-font: bold 300px "Lateef";
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-translate-x: 50px;
    -fx-translate-y: 15px;
}

Button {
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-font: bold 20px "Lateef";
}

#exitButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 730px;
}

#restartButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 670px;
}

#leaderBoardButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 610px;
}

#scoreLabel, #timeLabel {
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-min-height: 80px;
    -fx-max-height: 80px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font: 50px "Lateef";
}

#scoreLabel {
    -fx-translate-y: 420px;
}

#timeLabel {
    -fx-translate-y: 480px;
}

