#profileMenuPane {
    -fx-max-height: 800px;
    -fx-max-width: 400px;
    -fx-min-height: 800px;
    -fx-min-width: 400px;
}

Button {
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-font: bold 20px "Lateef";
}

#backButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 730px;
}

#deleteAccButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 670px;
}

#logoutButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 610px;
}

#changeUserPassButton {
    -fx-translate-x: 125px;
    -fx-translate-y: 550px;
}

TextField, PasswordField {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-font: 20px "Lateef";
}

#changeUserPassPane {
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-min-height: 200px;
    -fx-max-height: 200px;
    -fx-translate-x: 75px;
    -fx-translate-y: 325px;
}

#usernameField {
    -fx-translate-y: 20px;
    -fx-translate-x: 25px;
}

#passwordField {
    -fx-translate-y: 70px;
    -fx-translate-x: 25px;
}

#applyChangeUserPassButton {
    -fx-translate-y: 145px;
    -fx-translate-x: 50px;
}

#changeUserPassResponseMessageLabel {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-translate-y: 107px;
    -fx-translate-x: 25px;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font: 20px "Lateef";
}